.modal-overlay {
  width: 100%;
  height: calc(100vh - 63px);
  background: #000000B2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay.fixed {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  background: linear-gradient(162.34deg, #16150E 5.57%, #090909 87.92%);
  border: 1px solid #383839;
  padding: 15px 18px 20px;
  border-radius: 19px;
  max-width: 402px;
  width: 100%;
  position: relative;
  animation: slideDown 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content .title {
  font-weight: 800;
  font-size: 26.2px;
  color: #fff;
  text-align: center;
  line-height: 100%;
  margin-bottom: 5px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.modal-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}

.modal-content p.desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  color: #FFFFFF99;
  text-align: center;
  margin-top: 5px;
}

.form,
.button_wrapper {
  margin-top: 12px;
  padding-top: 20px;
  position: relative;
}

.form {
  margin-top: 15px;
}

.error {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
  background-color: #24210F;
  border: 1px solid #4F4D15;
  border-radius: 8px;
  margin-bottom: 10px;
}

.error p {
  font-size: 12px;
  font-weight: 400;
  color: #C6B958;
}

.form span {
  color: #BABABA;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
}

.button_wrapper::before,
.form::before {
  content: "";
  position: absolute;
  left: -18px;
  right: -18px;
  top: 0;
  height: 2px;
  background-color: #252525;
}

.button {
  background: #FFFF00;
  color: #1C1C1C;
  padding: 10px;
  width: 100%;
  height: 49px;
  font-size: 15px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-content label {
  color: white;
  font-size: 14.25px;
  font-weight: 400;
}

.input_wrapper {
  position: relative;
}

.input_wrapper span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.input_wrapper span img {
  width: 20px;
}

.input {
  width: 100%;
  height: 49px;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: #090805;
  color: white;
  border: 1px solid #222222;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.36px;
}

.input:focus {
  border-color: #FFFF00;
}

.text {
  color: #A0A09E;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 15px;
}

.text span {
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: underline;
}

@keyframes slideDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width:534px) {
  .modal-content {
    margin: 0 13px;
    padding: 14px 15px;
  }

  .modal-content .title {
    font-size: 22px;
  }

  .modal-content h3 {
    font-size: 17.41px;
  }

  .modal-content p.desc {
    font-size: 12px;
    font-weight: 500;
    font-style: medium;
  }

  .form {
    margin-top: 13px;
    padding-top: 17px;
  }

  .form label {
    font-size: 12.41px;
  }

  .input {
    height: 42px;
    margin-top: 8.76px;
    font-size: 11px;
  }

  .input_wrapper span img {
    width: 17px;
  }

  .form span {
    font-size: 11.32px;
  }

  .button_wrapper {
    margin-top: 10px;
  }

  .button {
    height: 42.66px;
    font-size: 13px;
  }

  .text {
    font-size: 13.93px;
    line-height: 20px;
  }

  .text span {
    font-size: 13px;
    line-height: 20px;
  }
}