.header {
    display: flex;
    flex-direction: column;
    margin-top: 62px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    color: white;
    padding-left: 67px;
    padding-right: 72px;
}

.section1 .section_left {
    max-width: 689px;
}

.section1 h1 {
    font-size: 39px;
    font-weight: 600;
    line-height: 43.27px;
}

.section1 .subtitle {
    max-width: 563px;
    font-size: 21px;
    font-weight: 400;
    color: #989899;
    line-height: 27px;
    margin-top: 10px;
}

.section1 .cards {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 15px;
}

.section1 .card {
    max-width: 185px;
    min-width: 60px;
    width: 100%;
    height: 150px;
    border: 2px solid #323233;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    background-color: #171717;
}

.section1 .discount {
    width: 225px;
    height: 41px;
    background-color: #E50000;
    border-radius: 10.25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25.62px;
    font-weight: 800;
}

.section1 .section_right {
    width: 508px;
}

.section1 .price {
    font-size: 82.36px;
    font-weight: 700;
    line-height: 63.29px;
    margin-top: 17.5px;
    text-align: center;
    vertical-align: middle;
}

.section1 .oldPrice {
    font-size: 55.38px;
    font-weight: 700;
    text-decoration: line-through #FF0000;
    text-align: right;
    line-height: 63.29px;
    padding-right: 10px;
}

.section1 .imgWrapper {
    width: 208px;
    height: 208px;
    display: flex;
    border-radius: 33.82px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.header .buttonItem {
    width: 342px;
    border: 1px solid #3E3E40C4;
    border-radius: 15px;
    padding: 5px;
    margin-top: 35px;
    position: relative;
    overflow: hidden;
}

.header .buttonItem button {
    background-color: var(--colorFFFF00);
    width: 100%;
    height: 47px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: var(--color000);
    transition: 0.3s ease background;
    z-index: 999;
    border: none;
    position: relative;
    z-index: 2;
}

.buttonItem button:hover {
    background-color: #b6b600;
}

.header .buttonItem::before {
    content: '';
    position: absolute;
    top: -218%;
    left: -50%;
    width: 200%;
    height: 596%;
    border-radius: 15px;
    background: conic-gradient(from 0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, #c9f300 95%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
    animation: rotate-shadow 5s linear infinite;
}

.section1 .section_right button {
    width: 100%;
    height: 70px;
}

.payment {
    width: 100%;
    height: 47px;
    border: 0.9px solid #323233;
    border-radius: 13.46px;
    margin-top: 10px;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13.54px;
    position: relative;
    overflow: hidden;
}

.payment p {
    z-index: 100;
    font-weight: 700;
}

.payment .earthImg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.payment .p {
    font-size: 15.34px;
    font-weight: 700;
}

.payment .visa {
    width: 102px;
    z-index: 100;
}

.section1_phone {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section1_phone .subtitle {
    width: 100%;
}

.section1_phone .imgWrapper {
    min-width: 152px !important;
    height: 152px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.section1_phone .discount {
    max-width: 149px !important;
    height: 27px !important;
    margin-top: 14px;
    border-radius: 6px;
}

.section1_phone .flex {
    padding-right: 16px;
}

.section1_phone .price {
    font-size: 54px !important;
    font-style: Bold;
    margin-top: 13px !important;
    line-height: 41px !important;
}

.section1_phone .oldPrice {
    font-size: 36px !important;
    line-height: 41px !important;
}

.section1_phone .subtitle {
    font-size: 15px;
    margin-top: 10px !important;
    max-width: 100% !important;
}

.section1_phone .payment {
    height: 41px !important;
    font-size: 12px !important;
    margin-top: 5px;
}

.section1_phone .payment .visa {
    width: 101px !important;
}

.section1_phone .buttonItem {
    margin-top: 15px;
}

.section1_phone .buttonItem button {
    font-size: 16.65px;
}

.section1_phone .cards {
    width: 100% !important;
    flex-direction: column !important;
    margin-top: 5px;
}

.section1_phone .cardsTop {
    display: flex;
    gap: 10px;
}

.section1_phone .card {
    max-width: 100% !important;
    height: 137px !important;
    font-size: 15px !important;
}

.section1_phone .card:first-child svg {
    width: 32px !important;
}

.section1_phone .card:nth-child(2) svg {
    width: 38px !important;
}

.section1_phone .card:last-child svg {
    width: 47px !important;
}

.section2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    color: white;
    padding-left: 67px;
    padding-right: 85px;
    margin-top: 106px;
}

.section2 .section_left {
    max-width: 769px;
    width: 100%;
}

.mainTitle {
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    line-height: 16px;
    color: #FFFF00;
}

.title {
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    line-height: 54px;
    color: white;
}

.subtitle {
    font-size: 21px;
    font-weight: 500;
    font-style: bold;
    line-height: 27px;
    color: #989899;
}

.subtitle .bold {
    font-weight: 700;
}

.section2 .subtitle:last-child,
.section3 .subtitle :last-child {
    margin-top: 15px;
    max-width: 625px;
}

.section2 .section_right {
    min-width: 444px;
    height: 308px;
    background-color: #171717;
    border: 2.12px solid #323233;
    border-radius: 15.93px;
    position: relative;
    overflow: hidden;
}

.section2 .section_right_top {
    width: 100%;
    height: 122px;
    border-bottom: 2.12px solid #323233;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2 .discount {
    width: 41.54px;
    height: 23.5px;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5.54px;
    font-size: 12.26px;
    font-weight: 700;
    font-style: bold;
}

.section2 .price {
    font-size: 25.49px;
    font-weight: 700;
    font-style: bold;
    line-height: 42.66px;
    letter-spacing: -1.14px;
}

.section2 span {
    font-size: 19.12px;
    font-weight: 600;
    font-style: Semi Bold;
    line-height: 23.57px;
    letter-spacing: -0.47px;
    color: #909090;
}

.section2 .oldPrice {
    font-size: 23.78px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
    text-decoration: line-through;
    color: #FFFFFFCC;
}

.section2 .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 15.5px;
    gap: 5px;
}

.section2 .content .info {
    width: fit-content;
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 17px;
    line-height: 28.68px;
    font-weight: 500;
    font-style: medium;
    color: white;
    margin-top: 0;
}

.section2 .section_right button {
    width: 100%;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: none;
    background-color: #FFFF00;
    border-top: 2.12px solid #323233;
    font-size: 17px;
    font-weight: 600;
    font-style: Semi bold;
    color: black;
}


.section3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 7px;
    color: white;
    padding-left: 66px;
    padding-right: 47px;
    padding-top: 119px;
    background: url("/assets/header-bg.png") no-repeat;
    background-size: cover;
}

.section3 .section_left {
    max-width: 865px;
    width: 100%;
}

.section3 .subtitle {
    max-width: 765px;
    font-size: 20px;
}

.section3 .subtitle span {
    text-decoration: underline;
    cursor: pointer;
}

.section3 .buttonItem {
    width: fit-content;
    /* width: 100%; */
}

.section3 .buttonItem button {
    height: 47px;
    font-size: 15px;
    font-weight: 600;
    padding: 0 19px;
}

.section3 .text {
    font-size: 14px;
    font-weight: 800;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    margin-top: 5px;
}

.section3 .text span {
    color: #FFFF00;
}

.section3 .videoWrapper {
    width: 435px;
    height: 272px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #38383B;
    border-radius: 10px;
}

.section3 .videoWrapper img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.section3 .videoWrapper * {
    transition: 0.3s ease transform;
}

.section3 .videoWrapper .playButton {
    width: 82px;
    height: 82px !important;
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 200;
    background: radial-gradient(circle, rgba(50, 50, 50, 0.98) 60%, rgba(0, 0, 0, 0.5) 100%);

}

.section3 .videoWrapper .playButton .playButtonItem {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #6F7172 0%, #F7F6F6 100%);
}

.section3 .videoWrapper:hover .playButton {
    transform: translate(-50%, -50%) scale(1.1);
}

.section3 .videoWrapper:hover .playButton .playButtonItem {
    transform: scale(1.17);
}

.section3 .videoWrapper:hover .playButton .playButtonItem svg {
    transform: scale(1.1);
}

.section3 .videoWrapper .playButton svg {
    width: 23px;
    height: 23px;
}

.modal {
    width: 100vw;
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.97);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    transition: 0.5s ease all;
}

.modalItem {
    width: 58%;
    height: 68% !important;
    border: 2px solid white;
    border-radius: 15px;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    position: relative;
}

.modalItem iframe {
    border-radius: 15px;
}

.closeButton {
    width: 35px;
    height: 35px;
    color: white;
    background-color: #0C0C0C;
    border: 1px solid #1E417C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    position: absolute;
    right: 0;
    top: -60px;
    cursor: pointer;
}

.modalShow {
    animation-name: slideDown;
}

.modalHide {
    animation-name: slideUp;
}

.section3_phone {
    display: none;
    max-width: 500px !important;
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 auto;
    padding-top: 50px;
}

.section3_phone .title {
    max-width: 100% !important;
    font-size: 28px !important;
    margin-top: 0 !important;
}

.section3_phone .videoWrapper {
    max-width: 349px !important;
    width: 100% !important;
    margin: 0 auto;
    margin-top: 10px;
}

.section3_phone .mainTitle {
    font-size: 12px;
}

.section3_phone .subtitle {
    font-size: 15px !important;
    line-height: 16.7px !important;
}

.section3_phone .buttonItem {
    width: 100%;
}

.section3_phone .buttonItem button {
    height: 44px;
    font-size: 15.12px !important;
}

.section3_phone .text {
    flex-wrap: wrap;
    text-align: center !important;
    justify-content: center;
}

.faq .tg_link {
    text-decoration: underline;
    text-align: center;
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    color: #989899;
    margin-bottom: 35px;
}

.faq .mainTitle {
    width: 100%;
    text-align: center;
}

.faq .title,
.faq .subtitle {
    text-align: center;
}

.faq .buttonItem {
    max-width: 342px;
}

.carouselContainer {
    margin-top: 50px;
}

.carouselContainer .title {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1;
}

.carouselContainer .title {
    margin-bottom: 20px;
}

.section4 {
    max-width: 750px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 116px;
}

.section4 .subtitle {
    margin-top: 11px;
}

.section4 .subtitle span {
    text-decoration: underline;
}

.section4 .buttonItem {
    max-width: 342px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

.section4 .buttonItem button {
    font-size: 14px;
}

.section2 .mainTitle,
.section3 .mainTitle,
.section4 .mainTitle {
    text-transform: uppercase;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes rotate-shadow {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@media (max-width: 1170px) {
    .section1 {
        padding-left: 25px;
        padding-right: 30px;
    }

    .section1 .section_left {
        max-width: 450px;
    }

    .section1 h1 {
        font-size: 24px;
        line-height: 28.7px;
    }

    .section1 .subtitle {
        max-width: 373px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 2px;
    }

    .section1 .card {
        max-width: 122px;
        height: 99px;
        font-size: 11px;
    }

    .section1 .card:first-child svg {
        width: 23px;
    }

    .section1 .card:nth-child(2) svg {
        width: 27px;
    }

    .section1 .card:last-child svg {
        width: 34px;
    }

    .section1 .section_right {
        width: 361px;
    }

    .section1 .discount {
        width: 160px;
        height: 29px;
        font-size: 18px;
    }

    .section1 .price {
        font-size: 58px;
        line-height: 45px;
        margin-top: 12px;
    }

    .section1 .oldPrice {
        font-size: 39px;
        line-height: 45px;
    }

    .section1 .imgWrapper {
        width: 148px;
        height: 148px;
    }

    .section1 .imgWrapper img {
        width: 119px;
    }

    .buttonItem {
        margin-top: 20px;
    }

    .section1 .section_right button {
        height: 60px;
    }

    .section1 .payment {
        height: 33px;
        font-size: 10px;
    }

    .section1 .payment .visa {
        width: 73px;
    }

    .section1 .payment {
        border-radius: 9px;
    }

    .section1 .card {
        border-radius: 9px;
    }

    .buttonItem button {
        font-size: 17.26px;
    }

    .section2 {
        padding-left: 31px;
        padding-right: 25px;
    }

    .section2 .mainTitle,
    .section3 .mainTitle {
        font-size: 12px;
        line-height: 16px;
    }

    .section2 .title,
    .section3 .title {
        font-size: 28px;
        line-height: 27px;
        margin-top: 5px;
    }

    .section2 .subtitle,
    .section3 .subtitle {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }

    .section2 .section_left,
    .section3 .section_left {
        max-width: 430px;
    }

    .section2 .section_right {
        min-width: 321px;
        height: 222px;
    }

    .section2 .section_right .section_right_top {
        height: 87px;
    }

    .section2 .discount {
        width: 30px;
        height: 17px;
        font-size: 8.86px;
    }

    .section2 .price {
        font-size: 14.83px;
        letter-spacing: -0.82px;
    }

    .section2 .price span {
        font-size: 13.82px;
    }

    .section2 .content svg {
        width: 11px;
    }

    .section2 .content .info {
        font-size: 12.29px;
        line-height: 20.73px;
    }

    .section2 .section_right button {
        height: 37.63px;
        font-size: 12.29px;
    }

    .section3 {
        padding-left: 30px;
        padding-right: 23px;
    }

    .section3 .section_left {
        max-width: 470px;
    }

    .section3 .section_left .subtitle {
        max-width: 431px;
    }

    .section3 .videoWrapper {
        width: 321px;
        height: 201px;
    }

    .faq {
        padding: 0 35px;
    }

    .section4 {
        max-width: 431px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 116px;
    }

    .section4 .title {
        font-size: 24px;
        line-height: 27px;
    }

    .section4 .mainTitle {
        font-size: 12px;
    }

    .section4 .subtitle {
        font-size: 14px;
        margin-top: 0;
        line-height: 18px;
    }
}

@media (max-width: 834px) {
    .title {
        font-size: 48px;
    }
}

@media (max-width:700px) {
    .header {
        margin-top: 20px;
    }

    .title {
        font-size: 26px;
        line-height: 54px;
    }

    .container {
        padding: 0 13px;
    }

    .section1 {
        display: none;
    }

    .section1 .payment p {
        font-size: 12px;
    }

    .section1_phone {
        display: flex;
    }

    .menuItem {
        width: 300px;
    }

    .section2 {
        max-width: 500px;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        margin-top: 50px;
    }

    .section2 .section_left {
        max-width: 100%;
    }

    .section2 .subtitle {
        font-size: 15px;
        line-height: 16.7px;
    }

    .section2 .section_right {
        min-width: 300px;
        height: 242px;
        margin-top: 20px;
    }

    .section2 .discount {
        width: 32px;
    }

    .section2 .price {
        font-size: 20.04px;
        line-height: 33.53px;
    }

    .section2 .price span {
        font-size: 15.03px;
    }

    .section2 .oldPrice {
        font-size: 18.69px;
        line-height: 100%;
    }

    .section2 .content {
        gap: 4px;
    }

    .section2 .content svg {
        width: 12px;
    }

    .section2 .content .info {
        font-size: 13.36px;
    }

    .section2 .section_right button {
        height: 43px;
        font-size: 13.36px;
    }

    .section3 {
        display: none;
    }

    .section3_phone {
        display: flex;
    }

    .section2 .mainTitle,
    .section3 .mainTitle {
        font-size: 16px;
    }


    .faq {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;
        padding: 0;
    }

    .faq .mainTitle {
        width: 100%;
        font-size: 16px;
        text-align: left;
    }

    .faq .title,
    .faq .subtitle,
    .faq .tg_link {
        text-align: left;
    }

    .faq .buttonItem {
        max-width: 100%;
    }

    .carouselContainer .title {
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .section4 {
        max-width: 500px;
        text-align: left;
        margin-top: 37px;
    }

    .section4 .title {
        font-size: 28px;
        margin-top: 5px;
    }

    .section4 .subtitle {
        margin-top: 13px;
    }

    .section4 .buttonItem {
        max-width: 100%;
    }

    .section2 .mainTitle,
    .section3 .mainTitle {
        font-size: 12px;
    }
}

@media (max-width: 570px) {
    .modalItem {
        width: 90%;
        height: 300px !important;
    }
}