 .home,
 .servicesPage {
   color: var(--colorFFF);
 }

 .header {
   background: url("/assets/header-bg.png") no-repeat;
   background-size: cover;
 }

 .container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
 }

 .navbarWrapper {
   border-bottom: 1px solid #323233;
   position: sticky;
   top: 0;
   z-index: 999;
 }

 .navbar {
   max-width: 1440px;
   margin: 0 auto;
   height: 63px;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #090909;
 }

 .nav_left {
   width: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   user-select: none;
 }

 .nav_left .logo {
   width: 67px;
 }

 .nav_links {
   margin-left: 90px;
   display: flex;
   align-items: center;
   gap: 30px;
 }

 .nav_links a {
   font-size: 14px;
   font-weight: 700;
   color: #989899;
 }

 .nav_links a.active {
   color: white;
 }

 .authButtons {
   display: flex;
   gap: 10px;
 }

 .authButtons button:first-child {
   background-color: #252525;
   width: 119px;
   color: #fff;
   transition: all 0.3s ease;
 }

 .authButtons button:first-child:hover {
   transform: scale(1.08);
   background-color: #333;
   box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
 }

 .burger_menu {
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 9.53px;
   color: white;
   position: relative;
 }

 .burger_menu, 
 .burger_menu button,
 .burger_menu a {
  outline: none;
 }

 .navbar button {
   width: 179px;
   height: 39px;
   background-color: #FFFF00;
   border: none;
   border-radius: 8px;
   font-size: 14px;
   font-weight: 700;
   color: #1C1C1C;
   transition: all 0.3s ease;
 }

 .navbar button:hover {
   transform: scale(1.08);
   background-color: #fff700;
 }

 .controls {
   display: flex;
   gap: 10px;
   position: relative;
 }

 .control_button {
   width: 192px;
 }

 .name_button {
   width: 39px !important;
   background-color: #252525 !important;
   color: white !important;
   text-transform: uppercase;
   font-size: 20px !important;
   border: 1px solid #313131 !important;
 }

 .control_menu {
   width: 278px;
   position: absolute;
   right: 0;
   bottom: -330px;
   border: 1px solid #323233;
   background-color: #191919;
   border-radius: 8px;
   animation: slideRight 0.4s ease;
 }

 .control_menu_item {
   width: 100%;
   padding: 10px 13px;
   border-bottom: 1px solid #323233;
   display: flex;
   flex-direction: column;
   gap: 5px;
   color: white;
 }

 .control_menu_item:last-child {
   border-bottom: none;
 }

 .control_menu_item .name {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .control_menu_item .name .left {
   width: 39px;
   height: 39px;
   background-color: #252525;
   border: 1px solid #313131;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 700;
 }


 .control_menu_item .name .right {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .control_menu_item .name .right p {
   font-size: 14px;
   font-weight: 600;
   text-transform: capitalize;
 }

 .control_menu_item .name .right span {
   font-size: 10px;
   font-weight: 400;
   color: #4F4F4F;
 }

 .control_menu_item a {
   text-decoration: none;
   color: white;
   font-size: 14px;
   display: flex;
   align-items: center;
   gap: 8px;
   font-weight: 500;
   line-height: 16px;
   cursor: pointer;
   padding: 5px 1px;
   border-radius: 5px;
 }

 .control_menu_item:not(:last-child) a:hover {
   background-color: rgba(255, 255, 255, 0.1);
 }
 
 .control_menu_item:last-child a:hover {
   background-color: rgba(255, 0, 0, 0.2) 
 }

 .control_menu_item:last-child a {
   color: #FF0000;
 }

 .menu {
   width: 20px;
   position: relative;
   display: none;
 }

 .menu svg {
   cursor: pointer;
 }

 .menuTop {
   display: flex;
   justify-content: space-between;
 }

 .menuItem .menuTop button.close {
   cursor: pointer;
   background-color: transparent;
   border: none;
   width: auto;
   margin-top: 0;
   height: auto;
 }

 .menuItem .authButtons {
   flex-direction: column-reverse;
   padding-top: 15px;
   border-top: 1px solid #323233;
   margin-top: 15px;
 }

 .menuItem .authButtons button {
   width: 100%;
   margin-top: 0;
 }

 .menu {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
 }

 .burger_menu {
   display: none;
 }

 .menuItem {
   width: 100%;
   height: auto;
   position: absolute;
   z-index: 900;
   left: 0;
   top: 0;
   background-color: black;
   padding: 16px 22px 15px 25px;
   padding-top: 22px;
   text-align: left;
   border-bottom: 1px solid #323233
 }

 .menuItem .name_button {
   margin-top: 0;
 }

 .menuItem .controls {
   flex-direction: column;
   border-top: 1px solid #323233;
   margin-top: 15px;
   gap: 5px;
 }

 .menuItem .buttons {
   height: fit-content;
   display: flex;
   align-items: center;
   gap: 9.53px;
   margin-top: -8px;
 }

 .menuItem .controls .name_button {
   width: 100% !important;
   margin-top: 0;
   font-size: 14px !important;
 }

 .menu_links {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;
   margin-top: 28px;
   z-index: 999;
   margin-left: -1px;
 }

 .menuItem button {
   width: 100%;
   margin-top: 15px;
   z-index: 999;
 }

 .banner {
   background-color: var(--colorFFFF00);
   text-align: center;
   padding-top: 6px;
   padding-bottom: 8px;
 }

 .mainTitle h3,
 .mainTitle span {
   color: var(--colorFFFF00);
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
   text-align: center;
   margin-top: 98px;
   margin-bottom: 3px;
   text-transform: uppercase;
 }

 .services .mainTitle h3 {
   line-height: 16px;
   margin-top: 65px;
 }

 .title {
   font-size: 48px;
   font-weight: 600;
   line-height: 54px;
   text-align: center;
   color: white;
 }

 .download .title {
   line-height: 70.17px;
 }

 .services .title h3,
 .services .title h3 span {
   font-weight: 700;
   font-size: 48px;
   line-height: 54px;
 }


 .title img {
   width: 40px;
 }

 .subTitle {
   font-weight: 500;
   font-size: 14px;
   line-height: 27px;
   text-align: center;
   color: var(--color989899);
   margin-bottom: 5px;
 }

 .services .subTitle {
   font-size: 17px;
   font-weight: 500;
   line-height: 27px;
   margin-top: 8px;
   width: 680px;
   margin: auto;
 }

 .flags {
   display: flex;
   align-items: center;
   gap: 5px;
   justify-content: center;
   margin-bottom: 10px;
 }

 .flags img {
   width: 20px;
 }

 .banner h3 {
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--color1C1C1C);
 }

 .banner h3 span {
   font-weight: 700;
   margin: 0 5px;
 }

 .banner h3 img {
   width: 20px;
   margin-right: 8px;
 }

 .headerTop {
   padding: 24px 0;
   text-align: center;
   border-bottom: 1px solid var(--color323233)
 }

 .headerTop p {
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: var(--color989899);
 }

 .main {
   width: 95%;
   margin: auto;
 }

 .main h1 {
   text-align: center;
   font-weight: 600;
   font-size: 63.23px;
   line-height: 70.17px;
   color: var(--colorFFF);
   margin-bottom: 30px;
 }


 .main h1 span,
 .title .highlight {
   color: var(--colorFFFF00);
 }

 .main h1 svg {
   margin-top: 25px;
 }

 .main p {
   max-width: 626px;
   width: 100%;
   margin: auto;
   text-align: center;
   color: var(--color989899);
   font-weight: 500;
   font-size: 17px;
   line-height: 27px;
   margin-bottom: 25px;
 }

 .features {
   padding: 12px 25px 12px 32px;
   margin: auto;
   background-color: var(--color141413);
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: fit-content;
   gap: 28px;
 }

 .features .featuresBlock {
   display: flex;
   align-items: center;
   gap: 8px;
 }

 .features .featuresBlock h4 {
   font-weight: 500;
   font-size: 14px;
   line-height: 26px;
   color: var(--color989899);
 }

 .buttonItem {
   border: 1px solid #3E3E40C4;
   border-radius: 15px;
   padding: 5px;
   width: 342px;
   margin: auto;
   margin-top: 35px;
   position: relative;
   overflow: hidden;
 }

 .buttonItem button {
   background-color: var(--colorFFFF00);
   width: 100%;
   height: 47px;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   color: var(--color000);
   transition: 0.3s ease background;
   z-index: 999;
   border: none;
   position: relative;
   z-index: 2;
 }

 .buttonItem button:hover {
   background-color: #b6b600;
 }

 .buttonItem::before {
   content: '';
   position: absolute;
   top: -218%;
   left: -50%;
   width: 200%;
   height: 596%;
   border-radius: 15px;
   background: conic-gradient(from 0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, #c9f300 95%, rgba(0, 0, 0, 0) 100%);
   z-index: 1;
   animation: rotate-shadow 5s linear infinite;
 }




 @keyframes rotate-shadow {
   0% {
     transform: rotate(360deg);
   }

   100% {
     transform: rotate(0deg);
   }
 }

 .notice {
   text-align: center;
   font-weight: 800;
   font-size: 14px;
   line-height: 26px;
   color: var(--colorFFF);
   margin-top: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2px;
   flex-wrap: wrap;
   line-height: 1;
 }

 .notice svg {
   margin-right: 7px;
 }

 .notice .highlight {
   color: var(--colorFFFF00);
 }

 .videoIntro {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 50px;
 }

 .videoIntro p {
   font-size: 20px;
   font-weight: 600;
 }

 .videoIntro div:nth-child(1),
 .videoIntro div:nth-child(3) {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: end;
 }

 .videoIntro div:first-child p {
   margin: 0 45px 20px 0;
 }

 .videoIntro div:last-child {
   height: 270px;
   justify-content: center;
   align-items: start;
 }

 .videoIntro div:last-child p {
   text-align: center;
   margin-left: 50px;
 }

 .videoIntro div {
   text-align: right;
 }

 .videoIntro .videoWrapper {
   width: 470px;
   height: 270px;
   position: relative;
   cursor: pointer;
   overflow: hidden;
   border: 1px solid #38383B;
   border-radius: 15px;
 }


 .videoIntro .videoWrapper img {
   width: 100%;
   border-radius: 15px;
   height: 100%;
 }

 .videoWrapper * {
   transition: 0.3s ease transform;
 }

 .videoWrapper .playButton {
   width: 105px;
   height: 105px !important;
   display: flex;
   justify-content: center;
   align-items: center !important;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   z-index: 200;
   background: radial-gradient(circle, rgba(50, 50, 50, 0.98) 60%, rgba(0, 0, 0, 0.5) 100%);

 }

 .videoWrapper .playButton .playButtonItem {
   width: 75px;
   height: 75px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to bottom, #6F7172 0%, #F7F6F6 100%);
 }

 .videoIntro .videoWrapper:hover .playButton {
   transform: translate(-50%, -50%) scale(1.1);
 }

 .videoIntro .videoWrapper:hover .playButton .playButtonItem {
   transform: scale(1.17);
 }

 .videoIntro .videoWrapper:hover .playButton .playButtonItem svg {
   transform: scale(1.1);
 }

 .videoWrapper .playButton svg {
   width: 30px;
   height: 30px;
 }

 .modal {
   width: 100vw;
   height: 100vh !important;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.97);
   z-index: 999;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center !important;
   transition: 0.5s ease all;
 }

 .modalItem {
   width: 58%;
   height: 68% !important;
   border: 2px solid white;
   border-radius: 15px;
   animation-duration: 0.4s;
   animation-fill-mode: forwards;
   position: relative;
 }

 .modalItem iframe {
   border-radius: 15px;
 }

 .closeButton {
   width: 35px;
   height: 35px;
   color: white;
   background-color: #0C0C0C;
   border: 1px solid #1E417C;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center !important;
   position: absolute;
   right: 0;
   top: -60px;
   cursor: pointer;
 }

 .modalShow {
   animation-name: slideDown;
 }

 .modalHide {
   animation-name: slideUp;
 }

 @keyframes slideDown {
   from {
     transform: translateY(-100%);
     opacity: 0;
   }

   to {
     transform: translateY(0);
     opacity: 1;
   }
 }

 @keyframes slideUp {
   from {
     transform: translateY(0);
     opacity: 1;
   }

   to {
     transform: translateY(100px);
     opacity: 0;
   }
 }

 @keyframes slideRight {
   from {
     right: -300px;
   }

   to {
     right: 0;
   }
 }


 .cardsWrapper {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   margin-top: 20px;
 }

 .howItWorks .mainTitle h3,
 .reviews .mainTitle h3,
 .faq .mainTitle .h3 {
   margin-top: 90px;
 }

 .faq .tg_link {
   text-decoration: underline;
   text-align: center;
   display: block;
   font-weight: 500;
   font-size: 17px;
   line-height: 27px;
   color: #989899;
   margin-bottom: 35px;
 }

 .benefitsSection .mainTitle h3 {
   margin-top: 110px;
 }

 .services .buttonItem {
   margin-top: 30px;
 }

 .reviews .buttonItem,
 .faq .buttonItem {
   margin-top: 15px;
 }

 .reviews .rating {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-bottom: 45px;
 }

 .reviews .ratingStars {
   display: flex;
   justify-content: flex-start;
   gap: 5px;
   margin-bottom: 3px;
 }

 .serviceNowFound {
   gap: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .reviews .rating p {
   font-size: 14px;
   font-weight: 500;
   color: var(--color989899);
 }

 .reviews .rating p span {
   color: white;
 }

 .reviews .subTitle {
   font-size: 17px;
 }

 .reviews .subTitle span {
   text-decoration: underline;
 }

 .startSaving .buttonItem {
   margin-top: 20px;
 }

 .startSaving .mainTitle h3 {
   margin-bottom: 0;
 }

 .startSaving .subTitle {
   max-width: 704px;
   font-size: 17px;
   font-weight: 500;
   margin: 0 auto;
   margin-bottom: 20px;
 }

 .startSaving .main .h1 {
   font-size: 48px;
   font-weight: 600;
   margin: 0;
 }

 .footer {
   width: 100%;
   height: 224px;
   background-color: #080808;
   border-top: 1px solid #3E3E40;
   box-shadow: 0px -120px 200px #494907;
   margin-top: 90px;
   padding: 50px 50px 15px 50px;
   z-index: 100;
 }

 .footerDownload {
   box-shadow: none !important;
 }

 .footer .container {
   display: flex;
   justify-content: space-between;
   text-align: left;
 }

 .footer .subTitle {
   margin-bottom: 25px;
   font-size: 14px;
 }

 .footer .footerYear {
   margin-top: 25px;
   margin-bottom: 0;
   font-size: 12px;
 }

 .footer .container div,
 .footer .mainTitle h3 {
   text-align: left;
 }

 .footer .mainTitle h3 {
   margin-top: 0;
 }

 .footer ul {
   display: flex;
   flex-direction: column;
   gap: 14px;
 }

 .footer a {
   font-size: 14px;
   font-weight: 700;
   color: white;
 }

 .servicesPage .cardsWrapper {
   gap: 43px;
   padding: 0 50px;
 }

 .download {
   padding: 0 50px;
   padding-top: 70px;
   color: white;
   text-align: center;
 }

 .download .cardsWrapper {
   display: flex;
   justify-content: center;
   gap: 20px;
   margin-top: 60px;
 }

 .download .cardsWrapper .card {
   width: 245px;
   height: 300px;
   border: 1px solid #DEDEE0;
   border-radius: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #141413;
 }

 .download .cardsWrapper .card .title {
   font-size: 24px;
   font-weight: 600;
   color: white;
   margin-top: 23px;
   line-height: 27.6px;
 }

 .download .cardsWrapper .card .subTitle {
   font-size: 15px;
   font-weight: 400;
   color: #989899;
   margin-top: 15px;
 }

 .download .cardsWrapper .card button {
   width: 200px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   background-color: #FFFF00;
   border: none;
   border-radius: 7px;
   margin-top: 23px;
   color: black;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;

 }

 .download .faqImages {
   display: flex;
   justify-content: center;
   gap: 45px;
   margin-top: 90px;
   position: relative;
 }

 .download .faqImages img {
   display: block;
   max-height: 344px;
   height: 100%;
   max-width: 580px;

   width: 100%;
   border-radius: 10px;
 }

 .download .faqImages .img {
   width: 249px;
   border-radius: 5px;
   height: 55px;
   position: absolute;
   left: 50%;
   top: -50px;
   transform: translateX(-50%);
 }

 .download .faqImages .img img {
   height: auto;
   width: 100%;
 }

 .download .widthTextContainer {
   width: 1204px;
   margin: auto;
 }

 .download .widthTextContainer2 {
   width: 872px;
   margin: auto;
   margin-bottom: 25px;
 }

 .download .img3 {
   max-width: 530px;
   width: 100%;
   object-fit: cover;
 }

 .download .faqImages div {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 25px;
 }

 .download .faqImages div p {
   width: 209px;
   height: 31px;
   font-size: 16px;
   font-weight: 700;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FFFF00;
   border-radius: 20px;
   color: #1C1C1C;
 }

 .servicesPage .services {
   background: none;
 }

 .download .subTitle {
   font-weight: 500;
   font-size: 17px;
   line-height: 27px;
 }

 @media(max-width:1300px) {
   .download .widthTextContainer {
     width: 100%;
     margin: auto;
   }


 }

 @media (max-width: 975px) {
   .download .faqImages .img {
     width: 174px;
     height: 45px;
   }

   .download .widthTextContainer2 {
     width: 100%;
   }
 }


 @media (max-width:834px) {
   .burger_menu {
     display: flex;
   }

   .nav_links,
   .navbar button,
   .navbar .controls {
     display: none;
   }

   .menuItem .control_menu {
     display: flex;
   }

   .menu,
   .menu button {
     display: inline-block;
   }

   .menu .controls {
     display: flex;
   }

   .burger_menu button {
     display: inline-block !important;
   }

   .menu .nav_links {
     display: flex;
   }

   .download {
     padding-left: 20px;
     padding-right: 20px;
   }

   .services .subTitle {
     width: 85%;
   }

   .download .faqImages {
     flex-wrap: wrap;
   }

   .download .faqImages .img {
     width: 200px;
     height: 50px;
   }

   .download .faqImages .leftImgWrapper {
     margin-top: 50px;
   }

   .container {
     padding: 0 20px;
   }

   .main h1 {
     font-size: 36px;
     line-height: 40px;
   }

   .banner h3 {
     font-size: 10px;
   }

   .headerTop {
     padding: 13px 0;
   }

   .headerTop p {
     font-size: 8px;
   }

   .main p {
     max-width: 362px;
     font-size: 10px;
     line-height: 16px;
   }

   .features {
     gap: 16px;
   }

   .features .featuresBlock h4 {
     font-size: 12px;
     line-height: 15px;
   }

   .main .buttonItem {
     margin-top: 23px;
   }

   p.notice {
     font-size: 8px;
     line-height: 15px;
     gap: 4px;
     margin-top: 5px;
   }

   p.notice svg {
     width: 8px;
     height: 8px;
   }

   .services .notice {
     display: flex;
     flex-wrap: wrap;
     font-size: 14px;
   }

   .services p.notice svg {
     width: 14px;
     height: 14px;
   }

   .videoIntro .videoWrapper {
     width: 262px;
     height: 147px;
   }

   .videoIntro p {
     font-size: 11px;
     margin-bottom: 0;
   }

   .videoIntro svg {
     width: 68px;
     height: 52px;
   }

   .videoIntro div:last-child {
     height: 180px;
     justify-content: center;
     align-items: start;
   }

   .videoWrapper .playButton {
     width: 70px;
     height: 70px !important;
   }

   .videoWrapper .playButton .playButtonItem {
     width: 50px;
     height: 50px;
   }

   .videoWrapper .playButton .playButtonItem svg {
     width: 20px;
   }

   .cardsWrapper {
     width: 100%;
     margin: auto;
     justify-content: center;
   }

   .main .mainTitle h3:first-child {
     font-size: 9px;
     line-height: 15px;
     margin-top: 56px;
     text-align: center;
   }

   .howItWorks .howItWorksCard:first-child {
     background-color: red !important;
   }
 }



 @media(max-width:695px) {
   .serviceNowFound img {
     display: none;
   }

   .servicesPage .cardsWrapper {
     gap: 26px;
   }
 }

 @media (max-width:570px) {
   .header {
     background-size: auto;
   }

   .download .main h1 {
     font-size: 24.35px;
   }

   .download .main p {
     margin-bottom: 10px;
   }

   .download .main p svg {
     margin-top: 13px;
   }

   .download .cardsWrapper {
     margin-top: 30px;
   }

   .download {
     padding-top: 38px;
   }

   .download .subTitle {
     font-size: 12px;
   }

   .mobileNone {
     display: none !important;
   }

   .services .subTitle {
     width: 100%;
   }

   .features {
     width: 85%;
   }

   .main p {
     width: 100%;
     max-width: 100%;
     font-size: 12px;
     line-height: 27px;
   }

   .features h4 {
     font-size: 12px;
   }

   .modalItem {
     width: 90%;
     height: 300px !important;
   }

   .reviews .rating {
     flex-direction: column;
   }

   .mainTitle h3 {
     margin-top: 50px;
   }

   .main h1 {
     font-size: 29px;
     line-height: 40.64px;
     margin-bottom: 0;
   }

   .main .buttonItem {
     width: 100%;
   }

   .header .notice {
     font-size: 13.18px;
   }

   .services .notice {
     font-weight: 800;
     font-size: 14px !important;
     line-height: 15px;
   }

   .features {
     flex-direction: column;
     gap: 10px;
   }

   .videoIntro {
     flex-direction: column;
     align-items: center;
     gap: 5px;
     position: relative;
   }

   .videoIntro div:first-child {
     align-items: flex-start;
     gap: 10px;
   }

   .videoIntro div:last-child {
     height: fit-content;
     align-items: center;
   }

   .right_block {
     position: absolute;
     top: 30px;
     right: 10px;
   }

   .buttonItem::before {
     content: '';
     position: absolute;
     top: -269%;
     left: -50%;
     width: 200%;
     height: 671%;
     z-index: 1;
   }

   .right_block svg {
     transform: rotate(-35deg);
   }

   .left_block {
     position: relative;
     left: -44px;
     margin-bottom: 30px;
   }

   .home .mainTitle h3 {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
   }

   .title {
     width: 100%;
     font-size: 26px;
     line-height: 34px;
     margin-left: auto;
     margin-right: auto;
   }

   .home .title {
     text-align: left;
   }

   .home .subTitle {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
   }

   .card {
     margin: 0;
   }

   .cardsWrapper {
     justify-content: flex-start;
   }


   .buttonItem {
     width: 100%;
   }

   .startSaving * {
     text-align: center !important;
   }

   .startSaving .main h1 {
     font-size: 34px;
   }

   .footer {
     padding: 10px 5px 5px 5px;
   }

   .footer ul {
     text-align: center;
   }

   .howItWorks .cardsWrapper .card {
     width: 300px !important;
   }

   .faq .tg_link {
     text-align: left;
   }

   .main .mainTitle h3:first-child {
     margin: auto;
     margin-top: 21px;
     font-size: 15px;
     width: 265px;
     margin-bottom: 5px;
     line-height: 23.02px;
   }

   .headerTop p {
     font-weight: 700;
     font-size: 14px;
   }

   .headerTop {
     padding: 22px;
   }

   .banner h3 {
     font-size: 12px;
   }

   .main .buttonItem {
     width: 100%;
   }

   .howItWorks .mainTitle h3,
   .reviews .mainTitle h3,
   .faq .mainTitle .h3 {
     margin-top: 60px;
   }

   .faq .subTitle {
     font-size: 17px;
   }

   .benefitsSection .mainTitle h3,
   .services .mainTitle h3 {
     margin-top: 60px;
   }

   .reviews {
     padding: 0px 10px !important;
   }

   .download {
     padding-left: 5px;
     padding-right: 5px;
   }

   .download .faqImages .img {
     width: 200px;
     height: 50px;
   }

   .servicesPage .container {
     padding: 0 10px;
   }

   .services .title h3,
   .services .title h3 span {
     font-size: 32px;
     line-height: 37px;
   }

   .services .title h3 span {
     display: block;
   }

   .services .subTitle {
     font-weight: 500;
     font-size: 12px;
     line-height: 23px;
   }

   section.services .mainTitle h3 {
     font-size: 16px;
   }

   section.services .title {
     font-weight: 700;
     font-size: 32px;
     line-height: 30px;
     margin-top: 15px;
     margin-bottom: 15px;
   }

   section.services.header .mainTitle h3 {
     font-weight: 700;
     font-size: 12px;
     line-height: 16px;
     margin-bottom: 0;
     margin-top: 45px;
   }

   section.services .subTitle {
     font-size: 17px;
     line-height: 27px;
     font-weight: 500;
   }

   section.services .buttonItem {
     margin-top: 20px;
   }

   .services .mainTitle h3 {
     font-size: 12px;
   }

   .services .title {
     display: flex;
     flex-direction: column;
   }
 }


 @media(max-width:375px) {
   .header .notice {
     font-size: 10.18px;
   }

   .menuItem {
     width: 280px;
   }
 }

 @media(max-width:350px) {
   .banner h3 {
     font-size: 10px;
   }
 }

 @media (max-width:1380px) {
   .home .cardsWrapper {
     max-width: 670px;
     margin-left: auto;
     margin-right: auto;
   }

   .servicesPage .cardsWrapper {
     padding: 0;
   }
 }

 @media (max-width:700px) {
   .menuItem {
     padding-left: 20px;
   }

   .reviews {
     text-align: left;
     padding-top: 0;
   }

   .reviews .mainTitle h3 {
     width: 100%;
     text-align: left;
   }

   .reviews .title {
     width: 100%;
     font-size: 26px;
     line-height: 34px;
     text-align: left;
   }

   .reviews .subTitle {
     width: 100%;
     text-align: left;
   }

   .reviews .buttonItem {
     max-width: 500px;
     width: 100%;
   }
 }

 @media (max-width:550px) {

   .menuItem {
     width: 100%;
     height: auto;
   }
 }