.faqItemBlock {
  max-width: 764px;
  height: auto;
  margin: auto;
  border-radius: 15px;
  padding: 30px 30px 16px 30px;
  background-color: var(--color141413);
}

.faqItem {
  border-radius: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.faqItem:last-child {
  margin-bottom: 0;
}

.questionRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqItem h4 {
  width: auto;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin: 0;
  color: var(--colorFFF);
}

.answer {
  max-width: 680px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  vertical-align: middle;
  max-height: 0;
  color: var(--color989899);
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.answer span {
  color: var(--colorFFF);
  font-weight: 700;
}

.open .answer {
  opacity: 1;
  max-height: 500px;
  transition: all 0.1s linear;
}

.faq .buttonItem {
  margin-top: 15px !important;
}

.join {
  width: 95%;
  margin: auto;
}

.join h1 {
  text-align: center;
  font-weight: 643px;
  font-size: 63.23px;
  line-height: 70.17px;
  color: var(--colorFFF);
  margin-bottom: 6px;
}

.join p {
  width: 704px;
  margin: auto;
  text-align: center;
  color: var(--color989899);
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 20px;
}

.join h2 {
  width: 649;
  height: 54;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin: auto;
  text-align: center;
}

.join h2 span {
  color: var(--colorFFFF00);
}

.join .buttonItem {
  margin-top: 20px !important;
}

@media (max-width:834px) {
  .faqItemBlock {
    max-width: 100%;
  }
}